# Ignorar videos pesados
*.mp4
*.mkv
*.avi

# Ignorar carpetas de contenido multimedia
series/
recursos/videos/

# Node
node_modules/
backend/node_modules/

# Variables de entorno
.env
backend/.env

# Datos de usuarios
backend/users.json